.places {
  max-width: 984px;
  width: 90%;
  margin: 92px auto 0;
}

@media screen and (max-width: 769px) {
  .places {
    margin: 88px auto 0;
  }
}

@media screen and (max-width: 321px) {
  .places {
    margin: 64px auto 0;
    width: 100%;
  }
}