.lead {
  max-width: 984px;
  width: 90.61%;
  margin: 56px auto 0px;
}

@media screen and (max-width: 1026px) {
  .lead {
    margin-top: 48px;
  }
}

@media screen and (max-width: 769px) {
  .lead {
    width: 100%;
  }
}