.cover__subtitle {
  max-width: 360px;
  max-height: 66px;
  font-family: "Inter", Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  margin: 32px 0 0;
}

@media screen and (max-width: 600px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 321px) {
  .cover__subtitle {
    margin: 16px 0 0;
  }
}

