.header {
  display: flex;
  /* justify-content: space-between; */
  align-items: flex-end;
  max-width: 1184px;
  margin: 28px 48px 0;
  /* object-fit: cover; */
  /* flex: 1 1 auto; */
  /* width: 95%; */
}

@media screen and (max-width: 769px) {
  .header {
    margin: 28px 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin: 16px 16px 0;
  }
}
