.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  max-width: 1184px;
  width: 90.61%;
  margin: 28px 48px 0;
}

@media screen and (max-width: 769px) {
  .header {
    margin: 28px 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding-top: 16px;
  }
}
