.footer__copiright {
  font-family: 'Inter', Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* right: 0; */
  margin-left: auto;
  color: #FFFFFF;
}

@media screen and (max-width: 760px) {
  .footer__copiright {
    margin-left: 0;
    margin-top: 46px;
  }
}

