.place__url-heading {
  font-family: "Inter", Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
  color: #aaaaaa;
}

@media screen and (max-width: 769px) {
  .place__url-heading {
    line-height: 100%;
  }
}

@media screen and (max-width: 321px) {
  .place__url-heading {
    padding-left: 16px;
    padding-right: 16px;
  }
}